body {
	font-family: 'kanit';
}
.section-title {
	text-align: center;
	padding: 10px 0;
	color: #40b3fa;
	font-weight: bold;
}

/* nav */
.navbar {
	transition: all .5s ease-out;
}
.navbar a {
	color: #fff;
	font-weight: bold;
}
.navbar .navbar-brand {
	font-weight: bold;
}
.navbar .navbar-toggler {
	margin-top: 10px;
}
.navbar .navbar-toggler:focus {
	outline: none;
}
.navbar .navbar-toggler i {
	color: #fff;
}
.navbar.nav-sticky {
	background: #fff;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.navbar.nav-sticky a {
	color: #40b3fa;
}
.navbar.nav-sticky .navbar-toggler i {
	color: #40b3fa;
}

/* home */
.home {
	height: 100vh;
	background: url('../images/home_bg.jpg') bottom center;
	background-attachment: fixed;
	position: relative;
	z-index: 0;
}
.home::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(64, 179, 250, 0.7);
	position: absolute;
	top: 0;
	z-index: 1;
}
.home #particles-js {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
}
.home .home-content {
	position: absolute;
	z-index: 3;
	top: 45vh;
	display: inline-block;
	text-align: center;
	transform: translate(-50%,-50%);
	left: 50%;
	width: 100%;
}
.home .home-content img.me {
	width: 200px;
	height: 200px;
	object-fit: contain;
	margin: 0 auto 20px;
	display: block;
}
.home .home-content {
	color: #fff;
}
.home .home-content .iam {
	font-size: 1.25rem;
	font-weight: bold;
}
.home .home-content .my-name {
	font-size: 3.125rem;
	font-weight: bold;
}
.home .home-content .ah-headline {
	font-size: 2.5rem;
}
.home .home-content .typed {
	font-weight: bold;
}
@media (max-width: 575.98px) {
	.home .home-content .ah-headline {
		font-size: 1.6rem;
	}
}

/* portfolio */
.portfolio {
	padding: 20px;
}
.portfolio .box {
	padding: 15px;
	background: #f3f3f3;
	overflow: hidden;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-bottom: 30px;
}
.portfolio .box img {
	height: 300px;
	width: 100%;
	object-fit: cover;
	object-position: top;
}
.portfolio .box .name {
	padding: 15px 0 0;
	text-align: center;
	font-weight: bold;
}