body {
	font-family: 'kanit';
}

/* header */
.header {
	height: 100vh;
	background: url('../images/header_bg2.jpg') bottom center;
	background-attachment: fixed;
	position: relative;
	z-index: 0;
}
.header::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(64, 179, 250, 0.7);
	position: absolute;
	top: 0;
	z-index: 1;
}
.header #particles-js {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
}
.header .navbar {
	transition: all .5s ease-out;
}
.header .navbar a {
	color: #fff;
	font-weight: bold;
}
.header .navbar .navbar-brand {
	font-weight: bold;
}
.header .navbar .navbar-toggler {
	margin-top: 10px;
}
.header .navbar .navbar-toggler:focus {
	outline: none;
}
.header .navbar .navbar-toggler i {
	color: #fff;
}
.header .navbar.nav-sticky {
	background: #fff;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.header .navbar.nav-sticky a {
	color: #40b3fa;
}
.header .navbar.nav-sticky .navbar-toggler i {
	color: #40b3fa;
}
.header .header-content {
	position: absolute;
	z-index: 3;
	top: 35%;
	display: inline-block;
	text-align: center;
	transform: translate(-50%,-50%);
	left: 50%;
}
.header .header-content img.me {
	width: 200px;
	height: 200px;
	object-fit: contain;
	margin: 0 auto 20px;
	display: block;
}
.header .header-content {
	color: #fff;
}
.header .header-content .iam {
	font-size: 1.25rem;
	font-weight: bold;
}
.header .header-content .my-name {
	font-size: 3.125rem;
	font-weight: bold;
}
.header .header-content .ah-headline {

}
.header .header-content .typed {
	font-weight: bold;
}
